/* AppointmentForm.css */

.AllFormInputs {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(45deg, #2c3e50, #34495e); /* Gradient background */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6); /* Bigger shadow effect */
    color: #fff; /* White text color */
  }
  
  .RegisterTitle {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .RegisterForms {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    color: #fff; /* White text color */
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #666; /* Darker border */
    border-radius: 4px;
    background-color: #34495e; /* Input field background color */
    color: #fff; /* Input text color */
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .form-control:focus {
    border-color: #3498db; /* Highlight border color on focus */
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.8); /* Highlight box shadow on focus */
  }
  
  .select {
    width: 100%;
    padding: 10px;
    border: 1px solid #666; /* Darker border */
    border-radius: 4px;
    background-color: #34495e; /* Select background color */
    color: #fff; /* Select text color */
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .select:focus {
    border-color: #3498db; /* Highlight border color on focus */
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.8); /* Highlight box shadow on focus */
  }
  
  .CreateButton {
    background-color: #3498db; /* Badass blue */
    color: #fff;
    padding: 15px 30px; /* Larger button padding */
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 18px; /* Larger font size */
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s; /* Smooth transitions */
  }
  
  .CreateButton:hover {
    background-color: #2980b9; /* Darker blue on hover */
    transform: scale(1.05); /* Slight button scale on hover */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); /* Bigger shadow on hover */
  }
  
  /* Keyframes for animations */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  